---
layout: default
---

<img src="assets/boxenstopp-logo.png" alt="Boxenstopp-Logo"
    style="width: 400px; height: 200px; display: block; margin: 30px auto; object-fit: cover; object-position: center; border-radius: 10px;">

<p>
    Im Boxenstopp-Podcast findest du Predigten aus dem Boxenstopp. Boxenstopp ist der Gottesdienst für Jugendliche und
    junge
    Erwachsene der Jungen Kirche Klettgau. Weitere Informationen
    zum Boxenstopp findest du unter <a href="https://boxenstopp-klettgau.ch">boxenstopp-klettgau.ch</a>.
</p>
<p>
    Du kannst ihn den Podcast auf allen Plattformen abonnieren, am einfachsten direkt über folgenden Knopf:
</p>

{% include subscribe-button.html %}

<h2 style="margin-top: 5rem;">Alle Predigten</h2>
<hr>
{% for post in site.posts %}
<a href="{{ post.url }}" style="text-decoration: none; color: inherit;">
    <article>
        <h3>{% if post.title == '' %}{{ post.series.name }} Teil {{ post.series.part }}{% else %}{% if post.series
            %}{{ post.series.name }} {{ post.series.part }}: {% endif %}{{post.title}}{% endif %}</h3>
        <p>{{ post.date | date: '%d.%m.%Y' }}, {{ post.speaker }}</p>
        <p>{{ post.excerpt }}</p>
    </article>
</a>
<hr>
{% endfor %}

{% include subscribe-button.html %}